/* Table of Contents
==================================================
	#Front Page Styles
	#Header Styles
	#Sidebar Styles
	#Article Page Styles
	#Media Queries
	#Font-Face */

/* #Front Page Styles
================================================== */

    .content {
        position: relative;
    }

    .newsrow {
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
    }
    .newsbox {
        height: 245px;
        position: relative;
    }
    .newsbox.content-double {
        width: 100% !important;
        height: 490px !important;
        position: relative;
    }
    .newsbox .favorite {
        width: 44px;
        height: 45px;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 0px; color: transparent;
        background: url(../_img/favorite-grey.png) no-repeat;
        border: none;
    }
    .newsbox .favorite:hover, .newsbox .favorite.checked {
        background: url(../_img/favorite-black.png) no-repeat;
    }
    .newsboxcontent {
        display: block;
        padding-top: 13px;
        padding-left: 16px;
        padding-right: 16px;
		max-height: 195px; 
		overflow: hidden;
    }
    .newsbox info {
        position: absolute;
        width: 100%;
    }
    .newsbox .dsect {
        margin-bottom: 3px;
    }

	.newsbox.layoutsimple, .newsbox.layoutbgimage, .newsbox.layoutdouble {
		cursor: pointer;
	}
	
    .newsbox.layoutsimple info {
        bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        .info;
    }
    .newsbox.layoutsimple h1 {
        padding-right: 10px;
        margin-bottom: 7px !important;
    }
    .newsbox.layoutsimple description {
        margin-top: 15px;
        display: block;
    }
	
	
	.newsbox.layoutlist description {
        margin-top: 15px;
        display: block;
    }
	.newsbox.layoutlist .newsboxcontent {
        max-height: 220px;
    }


    .newsbox.layoutbgimage {
        background-position: top left;
        background-repeat: no-repeat;
		background-size: cover;
    }
    .newsbox.layoutbgimage info {
        bottom: 0px;
        left: 0px;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.6);
    }
	.newsbox.layoutbgimage.section-alltag info {
        background-color: rgb(156, 255, 204) !important;
        background-color: rgba(156, 255, 204, 0.6) !important;
    }
	.newsbox.layoutbgimage.section-politik info {
        background-color: rgb(173, 218, 204) !important;
        background-color: rgba(173, 218, 204, 0.6) !important;
    }
	.newsbox.layoutbgimage.section-kultur info {
        background-color: rgb(255, 204, 170) !important;
        background-color: rgba(255, 204, 170, 0.6) !important;
    }
    .newsbox.layoutbgimage info div {
        padding: 10px;
    }
    .newsbox.layoutbgimage h1 {
		.subheading;
		display: inline;
		margin-left: 6px;
    }


    .newsbox.layoutdouble .newsboxcontent_wrapper {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.6);
        padding-bottom: 34px;
    }
	.newsbox.layoutdouble.section-alltag .newsboxcontent_wrapper {
        background-color: rgb(156, 255, 204) !important;
        background-color: rgba(156, 255, 204, 0.6) !important;
    }
	.newsbox.layoutdouble.section-politik .newsboxcontent_wrapper {
        background-color: rgb(173, 218, 255) !important;
        background-color: rgba(173, 218, 255, 0.6) !important;
    }
	.newsbox.layoutdouble.section-kultur .newsboxcontent_wrapper {
        background-color: rgb(255, 204, 170) !important;
        background-color: rgba(255, 204, 170, 0.6) !important;
    }
    .newsbox.layoutdouble info {
		left: 0px;
        bottom: 10px;
        margin-left: 16px;
        .info;
    }

    /*Newsbox styles for different sections*/
    .newsbox.section-alltag {
        background-color: #c6ffd8;
    }
    .newsbox.section-politik {
        background-color: #cde2ff;
    }
    .newsbox.section-kultur {
        background-color: #ffbe98;
    }
    .newsbox.section-blogs, .titlebox.section-blogs {
        background-color: #f1e2ef;
    }
    .newsbox.section-dossiers {
        background-color: #ffffa0;
    }
	



/* #Header Styles
================================================== */

    .header {
        position: relative;
        border-bottom: 1px solid #000000;
        height: 175px;
        padding-top: 10px;
        margin-bottom: 23px;
    }

    /*Top menu*/
    .nav {
        height: 60px;
    }
    .nav li {
        float: left;
        text-align: center;
    }
    .nav ul {
    }
    .nav a {
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
        text-decoration: none;
        text-align: center;
        .capitalize;
    }
    .nav li.active a{
        padding-bottom: 33px;
    }
    .nav li.nav-front.active a  { background: url(../_img/nav-shape-front.png) bottom center no-repeat; }
    .nav li.nav-alltag.active a { background: url(../_img/nav-shape-alltag.png) bottom center no-repeat; }
    .nav li.nav-kultur.active a { background: url(../_img/nav-shape-kultur.png) bottom center no-repeat; }
    .nav li.nav-politik.active a{ background: url(../_img/nav-shape-politik.png) bottom center no-repeat; }
    .nav li.active.nav-fav a    { background: url(../_img/nav-shape-favorite.png) bottom center no-repeat; }

    .nav li.nav-front    { width: 90px; margin-right: 60px; }
    .nav li.nav-alltag   { width: 137px; }
    .nav li.nav-kultur   { width: 137px; }
    .nav li.nav-politik  { width: 137px; }
    .nav li.nav-fav      { width: 90px; margin-left: 55px; }


    .header .widget {
        position: absolute;
        left: 0px;
    }
    .header .logo {
        text-align: center;
		display: block;
		padding: 0px;
		overflow: hidden;
		padding-top: 35px;
		margin-top: -10px;
    }
    .header .search {
        position: absolute;
        right: 25px;
        top: 125px;
    }
    .header .subtitle {
        position: absolute;
        margin-left: -9em;
        width: auto;
        font-size: 90%;
        left: 50%;
        bottom: -10px;
        padding: 0 0.5em;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        letter-spacing: 1px;
    }
    .header .aare {
        position: absolute;
        left: 14px;
        top: 62px;
        width: 64px;
        text-align: center;
        background: url(../_img/aare.png) center center no-repeat;
        padding-top: 6px;
    }
    .header date {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

	
	.main_footer {
		display: none;
	}



/* #Sidebar Styles
================================================== */

    .sidebar .header {
        border-bottom: 0 none;
        margin-bottom: 25px;
    }
    .sidebar .nav {
        padding-left: 24px;
    }

    .commentbox {
        padding: 15px;
        background-color: #cecdcc;
        border-radius: 6px;
        position: relative;
        padding-bottom: 9px;
    }
    .commentbox icon {
        position: absolute;
        top: 15px;
        right: 13px;
    }
    .commentbox .bg {
        position: absolute;
        right: -12px;
        bottom: -5px;
    }

    .commentbox.layouttwitter .image {
        display: block;
        float: left;
        margin-right: 10px;
    }
    .commentbox.layouttwitter .image img {
        height: 50px;
        max-width: 55px;
    }
    .commentbox.layouttwitter info {
        display: block;
        float: left;
        width: 90px;
    }
    .commentbox.layouttwitter author {
        display: block;
        width: 90px;
        .community-title;
        margin-top: -3px;
    }
    .commentbox.layouttwitter date {
        display: block;
        width: 140px;
        .community-font;
    }
    .commentbox.layouttwitter description {
        display: block;
        padding-top: 11px;
        .community-font;
    }

    .commentbox.layoutsimple author {
        display: block;
        margin-top: -3px;
        .community-title;
    }
    .commentbox.layoutsimple description {
        display: block;
        padding-top: 10px;
        .community-font;
    }
    .commentbox.layoutsimple date {
        display: block;
        .info;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .commentbox.layoutsimple .community-title.white {
         margin-top: 12px;
    }
    .commentbox.layoutsimple h1 {
        margin-top: -7px;
        margin-bottom: 10px;
    }

	.authorbox {
		padding-bottom: 0px !important;
	}
	.authorbox .author-pic {
		display: block;
        float: left;
        margin-right: 10px;
		width: 55px;
	}
	.authorbox .author-name {
		.community-title;
	}
	.authorbox .author-block {
		margin-bottom: 20px;
		margin-top: 6px;
	}
	
    .adbox {
        padding: 7px 15px 17px 15px;
        position: relative;
        border-bottom: 4px solid #cecdcc;
        color: #000000;
    }
    .adbox title {
        margin-top: 6px;
        display: block;
        .capitalize;
    }
    .adbox description {
        display: block;
        padding-top: 6px;
        padding-bottom: 6px;
        .community-font;
    }
    .adbox p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .adbox .lists {
        margin-top: 7px;
    }
    .adbox icon {
        position: absolute;
        top: 8px;
        right: 13px;
    }
    .adbox .link {
        text-align: right;
        .community-font;
    }
    .adbox .link a{
        .underline("",3px,1px);
    }

    .socialbox {
        padding: 10px 0px 14px 0px;
        position: relative;
        border-bottom: 4px solid #cecdcc;
        .info;
        margin-bottom: 16px;
    }
    .socialbox a {
        text-decoration: none;
    }
	
	
	blockquote {
		float: left;
		margin-left: -120px;
		width: 240px;
		margin-right: 20px;
	}
	blockquote.right {
		float: right;
		margin-right: -120px;
		margin-left: 20px;
	}
	blockquote p {
		.headline-font;
		font-size: 180%;
		line-height: 100%;
	}
	/*blockquote p:before {
		content: "\00AB";
		font-family: "JournalB";
	}
	blockquote p:after {
		content: "\00BB";
		font-family: "JournalB";
	}*/
	blockquote strong {
		.info;
		font-size: 35%;
		top: -1em;
		position: relative;
	}
	blockquote span {
		.community-font;
	}

	
	.gallery_status {
		.subheading;
		font-weight: bold;
		text-align: center;
	}
	#gallery_description {
		.info;
		margin-top: 14px;
	}


/* #Article Page Styles
================================================== */

	/*Header*/
	article h1 {
		margin-bottom:0.7em;
	}
	article .subtitle {
		float: left;
		line-height: 0.9em;
		margin-right: .3em;
		text-transform: uppercase;
		font-size: 105%;
		.headline-font;
	}
	
	article .deck {
		line-height: 1.4em;
	}

    /*Left information bar*/
    .addbar {
        float: left;
        width: 100px;
        padding-top: 10px;
        margin-right: 20px;
    }
	
	.article_info {
		position: absolute;
		left: 0px;
		width: 100px;
	}
    .article_info author {
        .community-title;
        display: block;
        text-align: center;
		margin-bottom: 15px;
    }
    .article_info date {
        display: block;
        text-align: center;
        .community-font;
    }

    /*Full-width content area*/
    .contentbar {
        float: left;
        width: 590px;
        padding-top: 10px;
    }

    /*Main content area*/
    .mcontentbar {
        width: 470px;
        border-bottom: 2px solid #000000;
        padding-bottom: 20px;
		padding-top: 10px;
    }

    /*Left control buttons*/
    .controlicons {
        text-align: center;
		margin-bottom: 30px;
    }
    .controlicon {
        margin-bottom: 20px;
        cursor: pointer;
    }

	
	.cs_img {
		margin-top: 6px;
		width: 222px !important;
		height: auto !important;
		display: block;
	}
	.cs_img[style*="float:left"] {
		margin-right: 20px;
		margin-left: -120px;
	}
	.cs_img[style*="float:right"] {
		margin-left: 20px;
		margin-right: -120px;
	}
	
	.cs_img_caption {
        position: absolute;
		width: 100px !important;
		margin-top: 5px;
        .info;
    }
	.cs_img_caption {
		display: none;
	}
    .cs_img[style*="float:left"] .cs_img_caption {
        left: 5px;
		display: block;
    } 
	.cs_img[style*="float:right"] .cs_img_caption {
        right: 5px;
		display: block;
    } 
	
	.titlebox {
		text-align: center;
		padding: 20px;
	}
	.titlebox h1, .titlebox h2 {
		display: inline;
	}
	.titlebox span {
		.community-title;
	}
	
	.blogbox {
		margin-top: 30px;
		padding-bottom: 8px;
		border-bottom: 20px solid #f1e2ef;
	}
	.blogbox.last {
		border-bottom: 0 none !important;
	}
	.blogbox info {
		.info;
		text-align: center;
		display: block;
	}
	.blogbox author {
		text-align: center;
		.capitalize;
		display: block;
	}
	.blogbox author a {
		border-bottom: 4px solid #f1e2ef;
	}
	.blogbox .title {
		width: 240px;
		margin: 0 auto;
		text-align: center;
		margin-top: 14px;
		margin-bottom: 20px;
		.subheading;
	}
	
	
	.pagination li {
		float: left;
		margin-left: 15px;
	}

/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
    @font-face {
        font-family: 'JournalBBold';
        src: url('webfonts/journalb-bold-web.eot');
        src: url('webfonts/journalb-bold-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/journalb-bold-web.woff') format('woff'),
        url('webfonts/journalb-bold-web.ttf') format('truetype'),
        url('webfonts/journalb-bold-web.svg#JournalBBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'JournalBRegular';
        src: url('webfonts/journalb-regular-web.eot');
        src: url('webfonts/journalb-regular-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/journalb-regular-web.woff') format('woff'),
        url('webfonts/journalb-regular-web.ttf') format('truetype'),
        url('webfonts/journalb-regular-web.svg#JournalBRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AlekseiRegular';
        src: url('webfonts/aleksei-web.eot');
        src: url('webfonts/aleksei-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/aleksei-web.woff') format('woff'),
        url('webfonts/aleksei-web.svg#AlekseiRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AlekseiBlack';
        src: url('webfonts/aleksei-black-web.eot');
        src: url('webfonts/aleksei-black-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/aleksei-black-web.woff') format('woff'),
        url('webfonts/aleksei-black-web.svg#AlekseiRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AlekseiBold';
        src: url('webfonts/aleksei-bold-web.eot');
        src: url('webfonts/aleksei-bold-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/aleksei-bold-web.woff') format('woff'),
        url('webfonts/aleksei-bold-web.svg#AlekseiBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AlekseiThin';
        src: url('webfonts/aleksei-thin-web.eot');
        src: url('webfonts/aleksei-thin-web.eot?#iefix') format('embedded-opentype'),
        url('webfonts/aleksei-thin-web.woff') format('woff'),
        url('webfonts/aleksei-thin-web.svg#AlekseiRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }