/* Custom fonts */

@font-face {
    font-family: 'JournalBBold';
    src: url('webfonts/journalb-bold-web.eot');
    src: url('webfonts/journalb-bold-web.eot?#iefix') format('embedded-opentype'), url('webfonts/journalb-bold-web.woff') format('woff'), url('webfonts/journalb-bold-web.svg#JournalBBold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-kerning: auto;
	font-feature-settings: 'kern';
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'JournalBRegular';
    src: url('webfonts/journalb-regular-web.eot');
    src: url('webfonts/journalb-regular-web.eot?#iefix') format('embedded-opentype'), url('webfonts/journalb-regular-web.woff') format('woff'), url('webfonts/journalb-regular-web.svg#JournalBRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-kerning: auto;
	font-feature-settings: 'kern';
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'AlekseiRegular';
    src: url('webfonts/aleksei-regular-web.eot');
    src: url('webfonts/aleksei-regular-web.eot?#iefix') format('embedded-opentype'), url('webfonts/aleksei-regular-web.woff') format('woff'), url('webfonts/aleksei-regular-web.svg#AlekseiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-kerning: auto;
	font-feature-settings: 'kern';
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'AlekseiBlack';
    src: url('webfonts/aleksei-black-web.eot');
    src: url('webfonts/aleksei-black-web.eot?#iefix') format('embedded-opentype'), url('webfonts/aleksei-black-web.woff') format('woff'), url('webfonts/aleksei-black-web.svg#AlekseiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-kerning: auto;
	font-feature-settings: 'kern';
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'AlekseiThin';
    src: url('webfonts/aleksei-thin-web.eot');
    src: url('webfonts/aleksei-thin-web.eot?#iefix') format('embedded-opentype'), url('webfonts/aleksei-thin-web.woff') format('woff'), url('webfonts/aleksei-thin-web.svg#AlekseiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-kerning: auto;
	font-feature-settings: 'kern';
	text-rendering: optimizeLegibility;
}
