.nav 	{ display: none; }
.main 	{ padding-top: 0px !important; }

.container .controlbar_mobile .favorite,
.container .controlbar_mobile .share,
.container .newsbox .favorite,
.container .search-mobile,
.container .controlicon.share,
.container .controlicon.favorite,
.container .controlbar_mobile .search h6
{ display: block !important; }

.container .controlbar_mobile_front,
.container .aare
{ display: none !important; }