<IfModule mod_rewrite.c>

Options -MultiViews
RewriteEngine on

# redirect for retina devices
#RewriteCond %{HTTP_COOKIE} HTTP_IS_RETINA [NC]
#RewriteCond %{REQUEST_FILENAME} (.*)\.(png|jpg|jpeg)$
#RewriteCond %1@2x.%2 -f
#RewriteRule (.*)\.(png|jpg|jpeg)$ $1@2x.$2 [L]

# redirect for large retina devices
#RewriteCond %{HTTP_COOKIE} HTTP_IS_RETINATWO [NC]
#RewriteCond %{REQUEST_FILENAME} (.*)\.(png|jpg|jpeg)$
#RewriteCond %1@4x.%2 -f
#RewriteRule (.*)\.(png|jpg|jpeg)$ $1@4x.$2 [L]

</IfModule>
